[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
matplotlib = "*"
pandas-datareader = "*"
scipy = "*"
flask-migrate = "*"
requests = "*"
python-dotenv = "*"
sortedcontainers = "*"

[requires]
python_version = "3.7"
